
#Contenedor {
    width: 100%;
    display: flex;
}

.Filtros {
    width: 25%;
    margin: 1rem 0 0 2rem;
}

.CardBox {
    margin-top: 2rem;
     display: grid;
    grid-template-columns: 
      repeat(auto-fit, 
      minmax(200px, 1fr)
      );
    place-items: center;
    margin-top: 2rem;
    width: 80%;
    gap: 5px;
}
.square {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -1px 3px 4px 1px rgba(201,201,201,0.51);
    -moz-box-shadow: -1px 3px 4px 1px rgba(201,201,201,0.51);
    box-shadow: -1px 3px 4px 1px rgba(201,201,201,0.51);
    border-radius: 10px!important;
    padding: 10px;
    
}

.square img {
    width: 10vh;
}

.text > p {
    margin: 0 0 0 0 !important;
}

.contador > p {
    margin: 0 0 0 0 !important;
}

.contador {
    display: flex;
    align-items: center;
    gap: 4px;
}

#icon{
    color: var(--third-color);
}
.botones {
    display: flex;
    gap: 2rem;
}

.imagen {
    display: flex;
    justify-content: center;
}










