#shoping-cart-but{
    background-color: transparent!important;
    border: none;
    color: var(--primary-color); /*Shoping cart icon color*/
    padding-top: 0rem;
    font-weight: 900;
    padding: 0;
}
#shoping-cart-but:hover{
    color: var(--third-color); /*Shoping cart hover icon color*/
}
#shoping-cart{
    width: 20px;
    height: 20px;
    transform: scale(1.5);
    margin-top: 0rem;
}
#shoping-cart__header{
    background-color: var(--third-color);
}
#shop-cart__icon{
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
    transform: rotateZ(-20deg);
}

#tittle {
    color: #FFFFFF;
}

#Shoping-card-body{
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Shoping-card-body-text {
    color: var(--primary-color) !important;
    font-size: 20px;
}

#Shop-cart-nothing-image{
    width: 180px;
    filter: saturate(1);
}

@media (min-width: 1024px){
    #shoping-cart-but{
        padding-right: 0.5rem;
    }
}