.box{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.342)), url(../../assets/img/Home/frutas-huerto.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box > h1 {
    font-size: 5rem !important;
    margin: 2rem 0 1rem 0 !important;
    color: var(--third-color);
}

.box > h2 {
    font-size: 3rem !important;
    color: var(--bg-color);
    margin: 0.3rem 0 1rem 0 !important;
}

















